# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# SQLite database
app.db

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/

# Environment variables
.env
